*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
  font-size: "10px";
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  padding-top: 40px;
  max-width: 300px;
  }
.title{
  margin: 15px;
  font-size: large;
}
a:link {
  text-decoration: none;
}
.back-icon {
  display: flex;
  justify-content: space-around;
}
.input-item {
  color: red;
}
.button-div{
  margin-top: 35px;
}
.paper {
  padding: 25px;
  display: flex;
  justify-content: space-around;
}
.paper-div{
  padding: 25px;
}
.logo {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
.logo-div {
  width: 100%;
}
.main-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.input-div-top{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input-item-add{
  max-width: 30%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}